version: "3.9"

services:
  frontend:
    image: nginx:alpine
    container_name: simple-frontend
    ports:
      - "8080:80"
    volumes:
      - ./public:/usr/share/nginx/html
    restart: unless-stopped